div.inventory {
  header {
    h2 {
      display: flex;
      margin: 0;
    }
    span {
      margin-left: auto;

      button {
        height: 100%;
        margin-left: 0.25rem;
      }
    }
  }

  ol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    counter-reset: inventory-counter;
    padding: 0;
    gap: 0.5rem;
    list-style: none;
    li {
      background: var(--color-primary);
      color: var(--color-surface);
      border: 1px solid grey;
      border-radius: 5px;
      padding: 1rem;
      box-sizing: border-box;
      display: flex;
      width: 100%;

      span {
        margin-right: auto;
      }

      button {
        width: 1.5rem;
        margin-left: .25rem;
      }
    }
  }
}
