div.app {
  display: flex;
  h2 {
    margin-bottom: 0;

  }

  > div {
    flex: 1;
    text-align: left;
    padding: 0 1rem;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin: .25rem 0;
      }
    }
  }

  button {
    background: #f8f8f8;
    border: 1px solid grey;
    border-radius: 5px;
  }
}
